<h2 class="text-center">Change Password </h2>
<form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="current_password">Current password</label>
    <input type="password" formControlName="current_password" class="form-control" appTogglePassword
      [ngClass]="{ 'is-invalid': submitted && f.current_password.errors }" />
    <div *ngIf="submitted && f.current_password.errors" class="invalid-feedback">
      <div *ngIf="f.current_password.errors.required">Password is required.</div>
      <div *ngIf="f.current_password.errors.minlength">Password must be at least 6 characters.</div>
    </div>
  </div>

  <div class="form-group">
    <label for="new_password">New password</label>
    <input type="password" formControlName="new_password" class="form-control" appTogglePassword
      [ngClass]="{ 'is-invalid': submitted && (f.new_password.errors|| changePasswordForm.hasError('sameNewPassword')) }" />
    <div *ngIf="submitted && f.new_password.errors" class="invalid-feedback">
      <div *ngIf="f.new_password.errors.required">Password is required.</div>
      <div *ngIf="f.new_password.errors.minlength">Password must be at least 6 characters.</div>
    </div>
    <div *ngIf="submitted && changePasswordForm.hasError('sameNewPassword')" class="invalid-feedback">New password must
      be different from the current password.</div>
  </div>

  <div class="form-group">
    <label for="confirm_password">Reenter new password</label>
    <input type="password" formControlName="confirm_password" class="form-control" appTogglePassword
      [ngClass]="{ 'is-invalid': submitted && (f.confirm_password.errors || changePasswordForm.hasError('notSame')) }" />
    <div *ngIf="submitted && f.confirm_password.errors" class="invalid-feedback">
      <div *ngIf="f.confirm_password.errors.required">Password is required.</div>
      <div *ngIf="f.confirm_password.errors.minlength">Password must be at least 6 characters.</div>
    </div>
    <div *ngIf="submitted && changePasswordForm.hasError('notSame')" class="invalid-feedback">Passwords do not match.
    </div>
  </div>

  <button [disabled]="loading" class="btn btn-primary">
    <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    Submit
  </button>
  <a [routerLink]="['/login']" class="btn btn-link">Cancel</a>
</form>